/** @format */

body {
	font-family: "Times New Roman", Times, serif;
	box-sizing: border-box;
	color: #f8f8f8;
	background: linear-gradient(45deg, red, blue);
}

.container {
	margin: 4em auto;
	border: 2px solid black;
	width: 80vw;
	box-shadow: 5px 5px 5px 15px #f8f8f8;
}

.sitting {
	display: flex;
	justify-content: space-around;
}

.choose_type_printer-1 {
	width: 250px;
	text-align: center;
	padding-top: 2em;
}

.choose_type_printer-1 > select {
	height: 2em;
	width: 12em;
}

.choose_type_printer-2 {
	display: none;
}

@media screen and (max-width: 600px) {
	body {
		font-size: larger;
	}

	.choose_type_printer-2 {
		display: block;
		/* width: 90%; */
		text-align: center;
	}

	.choose_type_printer-2 > select {
		height: 2.8em;
		width: 18.4em;
		margin-bottom: 1em;
	}
	.choose_type_printer-1 {
		display: none;
	}

	.parametr {
		/* float: left; */
		/* margin: 1em 0.5em 1em 0.5em; */
		width: 90%;
		text-align: center;
	}
	.parametr > input {
		width: 18em;
	}

	#values {
		height: 2em;
		width: 6em;
		font-size: larger;
		margin: 0 auto;
	}
	#front-page,
	#back-page {
		width: 20em;
		height: 5em;
		overflow: auto;
	}
}

.errorMessage {
	margin: 0;
	padding: 0;
	display: none;
}
.errorMessage p {
	color: red;
	margin: 0;
	padding: 0;
	margin-bottom: 1rem;
}

.btn-1 {
	height: 2em;
	width: 8em;
	border-radius: 6px;
	border: none;
	background-color: blue;
	color: #f8f8f8;
	background: linear-gradient(135deg, rgb(50, 107, 160) 60%, cyan);
	margin-left: 2em;
}

.parametr {
	/* float: left; */
	margin: 2em 1em 1em 1em;
}

.parametr > input {
	height: 2em;
	margin: 0.5em auto;
}

.text-area {
	width: 42vw;
	height: 10vw;
	overflow: auto;
	padding: 1em auto;
}

.textArea {
	text-align: center;
	margin: 0 auto 1em;
}
